body{
    display: flex;
    align-items: center;
    justify-content: center;
    height: initial;
}

button{
    background-color: rgba(0, 0, 0, 0);
    border: solid rgb(54, 54, 54) 5px;
    border-radius: 20px;
    font-family: Helvetica, Arial, sans-serif;
    color: rgb(48, 48, 48);
    font-size: 30px;
    margin-top: 43vh;
    padding: 10px;
    cursor: pointer;
    transition: .3s;
}

button:hover{
    background-color: rgba(66, 66, 66, 0.5);
    transform: scale(105%);
}
